.trainsList {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
}

/* === КАРТОЧКА ПОЕЗДА === */
.trainCard {
    max-width: 960px;
    display: flex;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(196, 196, 196, 1);
    overflow: visible;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
