.topBar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 24px 20px 24px 20px;
}

.topBarSecond {
    justify-content: end;
}

.topBarSecond .backButton {
    transform: none;
}

.backButton {
    cursor: pointer;
    transform: rotate(180deg);
    width: 76px;
    height: 60px;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.changeButton {
    width: 325px;
    height: 60px;
    border: 1px solid rgba(41, 41, 41, 1);
    border-radius: 5px;
    background: white;

    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    color: rgba(41, 41, 41, 1)
}

.changeButton:hover, .backButton:hover {
    background: #f3f3f3;
}