.wrapper {
    background: #ffffff;
    border: 1px solid rgba(196, 196, 196, 1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    max-width: 960px;
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
}

/* =============== LEFT =============== */
.passengersList {
    min-width: 680px;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;

    position: relative;
    padding: 60px 0 90px;
}

.passengersList::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-image: repeating-linear-gradient(to bottom,
            #e5e5e5 0,
            #e5e5e5 2px,
            transparent 1px,
            transparent 3px);
}

.passengersList>*:not(:last-child)::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-image: repeating-linear-gradient(to right,
            #e5e5e5 0,
            #e5e5e5 2px,
            transparent 1px,
            transparent 3px);
}

.passengerCard {
    display: flex;
    align-items: start;
    gap: 45px;
    padding-bottom: 25px;
    position: relative;
    /* border-bottom: 1px solid #e6e6e6; */
}

.passengerCard:last-child {
    border-bottom: none;
}

.passType {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

.icon {
    width: 68px;
    height: 68px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.fio {
    margin-bottom: 5px;

    font-weight: 400;
    font-size: 18px;
    color: rgba(41, 41, 41, 1);
}

.gender,
.birthday,
.doc {
    font-weight: 400;
    font-size: 18px;
    color: rgba(146, 143, 148, 1);
}

.type {
    font-size: 16px;
    color: #928f94;
    text-transform: capitalize;
}

/* =============== RIGHT =============== */

.right {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 24px;
    min-width: 280px;

    padding: 25px 20px;
}

.total {
    width: 100%;
    padding: 0 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.totalLabel {
    font-weight: 400;
    font-size: 30px;
    color: rgba(41, 41, 41, 1);
}

.totalPrice {
    font-size: 30px;
    font-weight: 700;
    color: rgba(41, 41, 41, 1);
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
}

.rublIcon {
    width: 20px;
    height: 24px;
}