.container {
    padding: 16px 20px;
    color: #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left p {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.icon {
    font-size: 18px;
    color: #9f9f9f;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.row span {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(229, 229, 229, 1);
}

.rowPrice {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 6px;
}

.rubleIcon {
    width: 14px;
    height: 17px;
}

.row strong {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: rgba(255, 255, 255, 1);
}