.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

.total {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(146, 143, 148, 1);
}

.rightSection {
    display: flex;
    align-items: center;
    gap: 48px;
    position: relative;

}

/* Сортировка */
.sortBlock {
    position: relative;
    /* базовое условие */
    display: flex;
    align-items: end;
    gap: 6px;
}

.sortCurrent {
    cursor: pointer;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.dropdown {
    position: absolute;
    top: -8px;
    /* опустить вниз — регулируй по макету */
    left: 140px;
    /* выровнять под сортировкой */
    min-width: 140px;
    background: rgba(247, 245, 249, 1);

    border-radius: 4px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.025);
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.option {
    color: rgba(62, 60, 65, 1);
    padding: 10px 7px;
    cursor: pointer;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.option:first-child {
    border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.option:hover {
    background: #f3f3f3;
}

.label {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    color: rgba(146, 143, 148, 1);
    margin-right: 6px;
}


/* Показывать по */
.limitBlock {
    display: flex;
    align-items: center;
    gap: 10px;
}

.limitNumber {
    border-radius: 4px;

    cursor: pointer;
    color: rgba(146, 143, 148, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.limitNumber:hover {
    background: #f2f2f2;
}

.activeLimit {
    color: #292929;
}