.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.row {
    display: flex;
    gap: 12px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
}

button {
    background-color: #fcdc2a;
    border: none;
    padding: 12px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.3s;
}

button:hover {
    background-color: #ffd500;
}
