/* Основной контейнер блока */
.search {
    width: 730px;
    height: 570px;
    background: rgba(41, 41, 41, 0.8);
    box-sizing: border-box;
    padding: 80px 20px 90px 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* justify-content: center; */
}
.compactSearch {
    width: 1490px;
    height: 330px;
    padding: 30px 40px 0 40px;
}
/* Форма */
.form {
    display: flex;
    flex-direction: column;
    gap: 90px; /* расстояние между контейнером полей и кнопкой */
    width: 100%;
}
.compactForm {
    gap: 50px;
}

.compactForm .fieldsBox {
    flex-direction: row;
    gap: 35px;
}

/* Контейнер с двумя группами (Направление и Дата) */
.fieldsBox {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

/* Каждая группа: заголовок + поля */
.group {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Заголовки "Направление" и "Дата" */
.label {
    font-weight: 300;
    font-size: 30px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
}

/* Ряд полей (Направления или Даты) */
.row {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 690px; /* 2 поля по 325px + 40px между ними */
}

/* Кнопка обмена направлений */
.swapBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 2;
}

.swapBtn img {
    width: 24px;
    height: 24px;
    opacity: 0.9;
    transition: opacity 0.2s ease;
}

.swapBtn:hover img {
    opacity: 1;
}

/* Кнопка Найти билеты */
.submitBtn {
    align-self: flex-end;
    width: 325px;
    height: 60px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 168, 0, 1);
    cursor: pointer;

    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: rgba(41, 41, 41, 1);
    transition: filter 0.2s ease;
}
.submitBtn:active {
    border: 1px solid rgba(255, 168, 0, 1);
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(255, 168, 0, 1);
}

.submitBtn:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.submitBtn:active {
    filter: brightness(0.95);
}
