.container {
    width: 920px;
    height: 145px;
    display: flex;
    background: #fff;
    border-radius: 4px;
}

/* ========================== */
/* СЛУЖЕБНЫЕ БЛОКИ             */
/* ========================== */

.leftService, .rightService {
    width: 95px;
    background: #f5f5f5;
    position: relative;
}

.leftService {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top: 1px solid rgb(213, 212, 212);
    border-bottom: 1px solid rgb(213, 212, 212);
    border-left: 1px solid rgb(213, 212, 212);
    display: flex;
    flex-direction: row;
}

.leftCol {
    flex: 1;
    display: flex;
    flex-direction: row;
    position: relative;
}

/* квадрат сверху */
.leftCol::before {
    content: "";
    position: absolute;
    top: -6px;
    /* выступает наружу */
    left: 55%;
    transform: translateX(-50%);
    width: 15px;
    height: 10px;
    background: rgb(146, 146, 146);
    border-radius: 2px;
    /* если хочешь – можно убрать */
}

/* квадрат снизу */
.leftCol::after {
    content: "";
    position: absolute;
    bottom: -6px;
    /* выступает наружу */
    left: 55%;
    transform: translateX(-50%);
    width: 15px;
    height: 10px;
    background: rgb(146, 146, 146);
    border-radius: 2px;
}

.exit {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.exitTop, .exitCenter, .exitBottom {
    display: flex;
    flex: 1;
}

/* .exitTop, */
.exitBottom {
    border-right: 1px solid rgb(213, 212, 212);
}

.exitCenter {
    /*   border-left: 4px solid rgb(213, 212, 212);
    border-right: 4px solid rgb(213, 212, 212); */

}

.roomAttendant, .roomToilet {
    flex: 1;
}

.roomAttendant, .roomToilet, .roomWater {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}

.roomAttendant {
    align-items: start;
    padding: 2px;
}

.roomToilet {
    border-right: 1px solid rgb(213, 212, 212);
    border-left: 1px solid rgb(213, 212, 212);

}

.roomWater {
    height: 30px;
    border-top: 1px solid rgb(213, 212, 212);
}

.rightCol {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.roomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(213, 212, 212);

}

.roomContainer, .roomCenter {
    flex: 1;
}

.rightService {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid rgb(213, 212, 212);
    border-bottom: 1px solid rgb(213, 212, 212);
    border-right: 1px solid rgb(213, 212, 212);
    display: flex;
    flex-direction: row;
}

.colOne {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.colOneTop, .colOneCenter, .colOneBottom {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.colOneTop {
    align-items: center;
    border-right: 1px solid rgb(213, 212, 212);
    border-bottom: 1px solid rgb(213, 212, 212);

}

.colOneBottom {
    align-items: end;
}


.colTwo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.colTwoTop, .colTwoCenter, .colTwoBottom {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.colTwoCenter {
    align-items: center;
}

.colTwoBottom {
    border-left: 1px solid rgb(213, 212, 212);
}

/* Иконки */
.leftToilet, .rightToilet, .leftWater, .rightTrash, .rightNoSmoke {
    width: 22px;
    height: 22px;
}

.leftAttendant {
    width: 28px;
    height: 35px;
}


/* ========================== */
/* ОСНОВНАЯ ОБЛАСТЬ           */
/* ========================== */

.mainArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

/* КУПЕ РЯДЫ */

.coupeBlock {
    display: flex;
    flex-direction: column;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

.coupeBlock .row {
    height: 40px;
}

.coupeBlock .row .section {
    height: 40px;
}


.row {
    display: flex;
}

.section {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    /* пробел между местами внутри секции */
    flex: 1;
    /* секции равной ширины */
}

.sideBlock {
    height: 36px;
    display: flex;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

.sideSection {
    display: flex;
    flex: 1;
}

.sideLowerSeat {
    width: 48px;
}

/* ВЕРТИКАЛЬНЫЕ ПЕРЕГОРОДКИ */
.vertDivider {
    width: 4px;
    background: black;
    margin: 0 3px;
}

/* ГОРИЗОНТАЛЬНАЯ ЛИНИЯ */
.horDivider {
    width: 100%;
    height: 28px;
    background: #f5f5f5;
}

.wagonNumber {
    background-color: black;
    padding: 0 4px;
    position: absolute;
    top: -20px;
    /* над правым блоком */
    left: 50%;
    transform: translateX(-50%);

    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
}