.container {
    width: 920px;
    height: 145px;
    display: flex;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
}

/* ОСНОВНАЯ ОБЛАСТЬ           */

.mainArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.sideBlock {
    height: 36px;
    display: flex;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

.sideSection {
    display: flex;
    flex: 1;
}

.sideLowerSeat {
    width: 48px;
}

/* ГОРИЗОНТАЛЬНАЯ ЛИНИЯ */
.horDivider {
    width: 100%;
    height: 28px;
    background: rgb(227, 227, 227);
}