.container {
    width: 920px;
    height: 145px;
    display: flex;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

/* ========================== */
/* СЛУЖЕБНЫЕ БЛОКИ             */
/* ========================== */

.leftService, .rightService {
    width: 95px;
    background: #f5f5f5;
    position: relative;
}

.leftService {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.rightService {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* Иконки */
.leftToilet, .rightToilet {
    position: absolute;
    top: 12px;
    width: 22px;
    height: 22px;
}

.leftToilet {
    left: 18px;
}

.rightToilet {
    right: 20px;
}

.leftAttendant {
    position: absolute;
    top: 60px;
    left: 28px;
    width: 26px;
    height: 26px;
}

.leftWater {
    position: absolute;
    bottom: 18px;
    left: 20px;
    width: 26px;
    height: 26px;
}

.rightTrash {
    position: absolute;
    bottom: 14px;
    left: 20px;
    width: 26px;
    height: 26px;
}

.rightNoSmoke {
    position: absolute;
    top: 70px;
    right: 12px;
    width: 26px;
    height: 26px;
}

/* Диагонали */
.leftDiagonal, .rightDiagonal {
    position: absolute;
    width: 140px;
    height: 2px;
    border-top: 2px solid #cfcfcf;
}

.leftDiagonal {
    top: 35px;
    left: -2px;
    transform: rotate(-32deg);
}

.rightDiagonal {
    top: 50px;
    right: -30px;
    transform: rotate(32deg);
}

/* ========================== */
/* ОСНОВНАЯ ОБЛАСТЬ           */
/* ========================== */

.mainArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* КУПЕ РЯДЫ */

.coupeBlock {
    display: flex;
    flex-direction: column;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

.coupeBlock .row {
    height: 40px;
}

.coupeBlock .row .section {
    height: 40px;
}


.row {
    display: flex;
}

.section {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    /* пробел между местами внутри секции */
    flex: 1;
    /* секции равной ширины */
}

.sideBlock {
    height: 36px;
    display: flex;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

.sideSection {
    display: flex;
    flex: 1;
}

.sideLowerSeat {
    width: 48px;
}

/* ВЕРТИКАЛЬНЫЕ ПЕРЕГОРОДКИ */
.vertDivider {
    width: 4px;
    background: black;
    margin: 0 3px;
}

/* ГОРИЗОНТАЛЬНАЯ ЛИНИЯ */
.horDivider {
    width: 100%;
    height: 28px;
    background: #f5f5f5;
}