.title {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(229, 229, 229, 1);

    height: 100px;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(229, 229, 229, 1);
}