.row3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.fieldFull {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.personalLabel {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgb(41, 41, 41, 1);
    margin-bottom: 8px;
}

.highlightLabel {
    color: rgba(146, 143, 148, 1);
}

.personalInput {

    width: 280px;
    height: 50px;
    padding: 0 15px;

    border: 1px solid rgba(146, 143, 148, 1);
    border-radius: 5px;

    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(41, 41, 41, 1);
}