.howItWorks {
    max-width: 1920px;
    margin: 0 auto;
    height: 575px;
    background: url("../../../assets/img/HowItWorks/background.png") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100%;
    /* background: rgba(255, 168, 0, 0.1); */
    display: flex;
    flex-direction: column;
    padding: 60px 260px;
    box-sizing: border-box;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
}

.button {
    width: 325px;
    height: 60px;
    padding: 12px 32px;

    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 5px;

    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.button:hover {
    background: rgba(255, 202, 98, 1);
    color: rgba(45, 43, 47, 1);
    border: none;
}

.button:active {
    background: rgba(255, 255, 255, 1);
    color: rgba(45, 43, 47, 1);
    border: none;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
    gap: 150px;
}

.card {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    max-width: 230px;
    min-width: 230px;
}

.card p {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.icon {
    width: 162px;
    height: 162px;
    margin-bottom: 30px;
    border: 4px solid #fff;
    border-radius: 50%;
    padding: 15px;
}
