.inputWrapper {
    position: relative;
    width: 325px;
    height: 60px;
}

.input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 52px 0 20px;
    color: rgba(41, 41, 41, 1);
    background: rgba(255, 255, 255, 1);

    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    font-variant: small-caps;
}

.input::placeholder {
    color: rgba(229, 229, 229, 1);
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
    pointer-events: none;
}

.iconCalendar {
    width: 30px;
    height: 34px;
}

/* ==== КАЛЕНДАРЬ ==== */
.calendarPopup {
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    width: 352px;
    background: #fff;
    border: 1px solid rgba(41, 41, 41, 0.2);
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 999;
    padding: 14px 0;
    font-family: Roboto, sans-serif;
    user-select: none;
    transition: height 0.25s ease;
}
/* Добавляем “треугольник” сверху */
.calendarPopup::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    box-shadow: -1px -1px 2px rgba(0, 0, 0, 0.1);
}

/* Шапка календаря */
.calendarHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    font-size: 30px;
    color: #292929;
    margin-bottom: 8px;
    text-transform: capitalize;
    padding: 0 45px 10px;
    border-bottom: 2px solid rgb(215, 211, 211);
}

/* Название месяца */
.monthName {
    flex: 1;
    text-align: center;
}

/* Кнопки со стрелками */
.arrowBtn {
    border: none;
    background: transparent;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;
}

.arrowBtn img {
    width: 8px;
    height: 12px;
    /* object-fit: contain; */
}

.arrowBtn:hover {
    opacity: 0.7;
}

/* Сетка */
.calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    row-gap: 6px;
    padding: 0 10px;
}

/* День */
.day {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    color: #292929;
    border-radius: 5px;
    cursor: pointer;
    transition:
        background 0.15s ease,
        border 0.15s ease;
}

.day:hover {
    background: rgba(255, 168, 0, 0.15);
}

/* Другие месяцы */
.otherMonth {
    color: rgba(194, 186, 186, 0.35);
}

/* Прошедшие дни */
.pastDay {
    color: rgba(41, 41, 41, 0.45);
}

/* Прошедшие воскресенья — серые, жирные */
.pastSunday {
    font-weight: 700;
    color: rgba(41, 41, 41, 0.45);
}

/* Воскресенья других месяцев — светло-серые, жирные */
.otherSunday {
    font-weight: 700;
    color: rgba(194, 186, 186, 0.35);
}

/* Будущие воскресенья — чёрные, жирные */
.sunday {
    font-weight: 700;
    color: #000;
}

/* Выбранная дата */
.selected {
    background: rgba(255, 168, 0, 0.31);
    border: 2px solid rgba(255, 168, 0, 1);
    border-radius: 5px;
    color: #292929;
}
