.seat {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    border: 1px solid #dcdcdc;
    background: #ededed;
}

.free {
    background: #ffffff;
}

.taken {
    background: #d4d4d4;
    color: #555;
}

.reserved {
    background: #3e8ef7; /* синий */
    color: white;
    border-color: #2f6fd6;
}