.seat {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 12px;
    border: 1px solid rgb(217, 217, 217);
    cursor: pointer;
}

/* СВОБОДНО/ЗАНЯТО/ЗАБРОНИРОВАНО */
.free {
    background: rgba(255, 255, 255, 1)ZF;
}

.reserved {
    background: rgb(84, 140, 240) !important;
    color: white !important;
    border-color: rgb(60, 110, 200) !important;
    cursor: default;
}

/* ======== КУПЕ ======== */
.upperSeat {
    background: rgb(240, 240, 240);
}

.lowerSeat {
    background: rgba(255, 255, 255, 1);
}

/* ======== БОКОВЫЕ ======== */
.sideUpperSeat {
    background: rgb(240, 240, 240);
}

.sideLowerSeat {
    background: rgba(255, 255, 255, 1);
}

.unavailable {
    background: rgb(128, 135, 128);
    color: rgba(255, 255, 255, 1);
    border-color: rgb(74, 74, 74);
    cursor: default;
}

.selected {
    border: 2px solid rgba(255, 168, 0, 1) !important;
    box-shadow: 0 0 4px rgba(255, 200, 70, 0.7);
}

.sittingSeat {
    background-color: rgba(255, 255, 255, 1);
}