.seat {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 12px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
}

/* СВОБОДНО/ЗАНЯТО/ЗАБРОНИРОВАНО */
.free {
    background: #fff;
}

.taken {
    background: #d4d4d4;
}

.reserved {
    background: #3e8ef7 !important;
    color: white !important;
    border-color: #2f6fd6 !important;
    cursor: default;
}

/* ======== КУПЕ ======== */
.upperSeat {
    background: #ececec;
}

.lowerSeat {
    background: #ffffff;
}

/* ======== БОКОВЫЕ ======== */
.sideUpperSeat {
    background: #ececec;
}

.sideLowerSeat {
    background: #ffffff;
}

.unavailable {
    background: #747a74;
    /* зелёный */
    color: white;
    border-color: rgb(74, 74, 74);
    cursor: default;
}

.selected {
    border: 2px solid #ffc846 !important;
    box-shadow: 0 0 4px rgba(255, 200, 70, 0.7);
}