.wrapper {
    padding: 20px 15px;

    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    border: 1px solid transparent;
    /* ← добавляем! */

}

.active {
    border: 1px solid rgba(255, 168, 0, 0.79);
}

.field {
    all: unset;
    /* снимаем стандартный button-стиль */
    box-sizing: border-box;
    /* вернём, чтобы не поехала вёрстка */

    min-width: 250px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: start;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 6px;
    padding: 12px 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 1);
    gap: 5px;
}

.label {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(41, 41, 41, 1);
}

.input {
    width: 16px;
    border: none;
    outline: none;
    font-size: 16px;
    text-align: start;
    background: transparent;
}

.hint {
    max-width: 240px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;

    color: rgba(146, 143, 148, 1);
}