.price {
    background: #2b2b2b;
    color: #ffffff;
    padding: 16px 20px;
    border-radius: 4px;
}

.title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.labels {
    display: flex;
    justify-content: space-between;

    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.sliderWrapper {
    position: relative;
    width: 100%;
    height: 60px;
}

.track {
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    height: 20px;
    border: 1px solid #C4C4C4;
    border-radius: 8px;
}

.range {
    position: absolute;
    top: 14px;
    height: 20px;
    background: #ffa800;
    border-radius: 8px;
}

.thumb {
    position: absolute;
    width: 100%;
    height: 50px;
    background: none;
    pointer-events: none;
    appearance: none;
}

.thumb::-webkit-slider-thumb {
    appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.value {
    position: absolute;
    white-space: nowrap;
    transition: none;

    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #E5E5E5;


}

.staticRight {
    top: 43px;
    right: 0;
    transform: none;
    text-align: right;
}

.staticLeft {
    top: 43px;
    left: 0;
    transform: none;
    text-align: left;
}