.header {
    width: 100%;
    padding: 30px;
    background: #ffffff;
    border-bottom: 1px solid rgba(146, 143, 148, 1);
}

.title {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

    color: rgba(41, 41, 41, 1);
}