/* ГОРИЗОНТАЛЬНАЯ ЛИНИЯ */
.horDivider {
    width: 100%;
    height: 28px;
    background: #f5f5f5;
    border-top: 1px solid black;

}

.sideBlock {
    min-height: 36px;
    display: flex;
    align-items: end;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    background: #f5f5f5;

}

.stick {
    flex: 1;
    background: transparent;
    height: 18px;
    position: relative;
}

/* .stick::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -8px;
    right: 0;
    height: 1px; 
    background: black;
} */


.stick:not(:last-child) {
    border-right: 4px solid black;
    margin: 0 3px;
}
