.price {
    color: #ffffff;
}

.title {
    margin-bottom: 15px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.sliderWrapper {
    position: relative;
    width: 100%;
    height: 65px;
}

.track {
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    height: 4px;
    background: #c4c4c4;
    border-radius: 4px;
}

.range {
    position: absolute;
    top: 14px;
    height: 4px;
    background: #ffa800;
    border-radius: 4px;
}

.thumb {
    position: absolute;
    width: 100%;
    height: 48px;
    background: none;
    pointer-events: none;
    appearance: none;
}

.thumb::-webkit-slider-thumb {
    appearance: none;
    pointer-events: all;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.value {
    position: absolute;
    top: 38px;
    /* ✅ все значения теперь на одной линии */
    white-space: nowrap;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #e5e5e5;
    transition: none;
}

.staticLeft {
    left: 0;
    text-align: left;
}

.staticRight {
    right: 0;
    text-align: right;
}