.price {
    color: #ffffff;
}

.title {
    /* margin-bottom: 15px; */
    margin-left: 4px;
    color: #E5E5E5;
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}

.sliderWrapper {
    position: relative;
    width: 100%;
    height: 65px;
}

.track {
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    height: 10px;
    border-radius: 8px;
    border: 1px solid #C4C4C4;
}

.range {
    position: absolute;
    top: 14px;
    height: 10px;
    background: #ffa800;
    border-radius: 8px;
}

.thumb {
    position: absolute;
    width: 100%;
    height: 40px;
    background: none;
    pointer-events: none;
    appearance: none;
}

.thumb::-webkit-slider-thumb {
    appearance: none;
    pointer-events: all;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

.value {
    position: absolute;
    top: 38px;
    white-space: nowrap;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #e5e5e5;
    transform: translateX(0);
    transition: none;
}

.staticLeft {
    left: 0;
    text-align: left;
}

.staticRight {
    right: 0;
    text-align: right;
}