.container {
    padding: 95px 250px 190px;
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 80px;
    align-items: start;
}

/* Правая колонка */
.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rightContent {
    max-width: 960px;
    border: 1px solid rgba(196, 196, 196, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}


.containerAddPassengers {
    max-width: 960px;
}

.addBtn {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 28px 38px 32px 26px;
    margin-top: 16px;

    background: #fff;
    border: 2px solid #c8c8c8;

    cursor: pointer;
}

.addBtn p {
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

}


.iconWrapper {
    position: relative;
    width: 32px;
    height: 32px;
}

/* по умолчанию показываем обычную иконку */
.iconPlus {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    opacity: 1;
}

.iconPlusHover {
    position: absolute;
    width: 13px;
    height: 13px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
}

/* при наведении — меняем */
.card:hover .iconPlus,
.addBtn:hover .iconPlus {
    opacity: 0;
}

.card:hover .iconPlusHover,
.addBtn:hover .iconPlusHover {
    opacity: 1;
}

/* ! ==================================================== */

.containerButton {
    margin-top: 100px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* Базовая неактивная кнопка */
.buyButton {
    width: 320px;
    height: 60px;

    border-radius: 5px;
    border: none;

    background: rgba(146, 143, 148, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: default;
    transition: background 0.2s ease, transform 0.2s ease;
}

/* Активное состояние */
.buyButtonActive {
    background: rgba(255, 168, 0, 1);
    cursor: pointer;
}

.buyButtonActive:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buyButtonActive:active {
    background-color: rgb(255, 255, 255);
    color: rgba(255, 168, 0, 1);
    border: 1px solid rgba(255, 168, 0, 1);
    box-shadow: none;
}