.container {
    /* !!!!!!! 250px? */
    padding: 95px 250px 190px;
    display: grid;
    grid-template-columns: 360px 1fr;
    /* Левая колонка — фильтры, правая — поезда */
    gap: 80px;
    align-items: start;
}

/* Левая колонка */
.leftColumn {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

/* Правая колонка */
.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rightContent {
    max-width: 960px;
    border: 1px solid rgba(196, 196, 196, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.containerInfo {
    background-color: rgba(62, 60, 65, 1);
    display: flex;
    flex-direction: column;
}

.sectionDivider {
    font-size: 18px;
    font-weight: 600;
    color: #d9a441;
}

.containerPassengers {
    padding: 15px 27px 40px 27px;
    border-bottom: 1px solid rgba(229, 229, 229, 1);
}

.passengersList {
    display: flex;
    flex-direction: column;
    gap: 33px;
    margin-top: 30px;
}

.containerAddPassengers {
    max-width: 960px;
}

.addBtn {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 28px 38px 32px 26px;
    margin-top: 16px;

    background: #fff;
    border: 2px solid #c8c8c8;

    cursor: pointer;
}

.addBtn p {
    color: rgba(41, 41, 41, 1);
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

}


.iconWrapper {
    position: relative;
    width: 32px;
    height: 32px;
}

/* по умолчанию показываем обычную иконку */
.iconPlus {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    opacity: 1;
}

.iconPlusHover {
    position: absolute;
    width: 13px;
    height: 13px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
}

/* при наведении — меняем */
.card:hover .iconPlus,
.addBtn:hover .iconPlus {
    opacity: 0;
}

.card:hover .iconPlusHover,
.addBtn:hover .iconPlusHover {
    opacity: 1;
}