.rightContent {
    max-width: 960px;
    border: 1px solid rgba(196, 196, 196, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}


.containerAddPassengers {
    max-width: 960px;
}


.iconWrapper {
    position: relative;
    width: 32px;
    height: 32px;
}

/* по умолчанию показываем обычную иконку */
.iconPlus {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    opacity: 1;
}

.iconPlusHover {
    position: absolute;
    width: 13px;
    height: 13px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;
}

/* при наведении — меняем */
.card:hover .iconPlus,
.addBtn:hover .iconPlus {
    opacity: 0;
}

.card:hover .iconPlusHover,
.addBtn:hover .iconPlusHover {
    opacity: 1;
}

.containerButton {
    margin-top: 70px;
}