.main {
  background-color: rgba(246, 244, 248);
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}


/* Левая колонка */
.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

/* обычное состояние */
.mainContainer {
  min-height: 780px;
  overflow: visible;
  transition: height 0.2s ease;
}

/* состояние загрузки */
.loadingState {
  height: 780px;
  overflow: hidden;
}

/* лоадер */
.loaderOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 780px;

  background: #3E3C41;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.loadingText {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(146, 143, 148, 1);
  margin-bottom: 50px;
}

.loaderGif {
  width: 950px;
  height: 100px;
  object-fit: cover;
  object-position: center;

}

.secondTrainBlock {
  margin-top: 40px;
}