.main {
  background-color: #f5f5f5;
  /* padding: 40px 100px; */
  max-width: 1920px;
  margin: 0 auto;
}

.container {
    /* !!!!!!! 250px? */
  padding: 95px 250px;
  display: grid;
  grid-template-columns: 360px 1fr; /* Левая колонка — фильтры, правая — поезда */
  gap: 40px;
  align-items: start;
}

/* Левая колонка */
.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Правая колонка */
.rightColumn {
  display: flex;
  flex-direction: column;
  gap: 30px;
}