.row {
    max-width: 960px;
    display: flex;
    background: #ffffff;
    border: 1px solid rgba(196, 196, 196, 1);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 22px 22px 25px;
    width: 280px;
    border-left: 1px solid transparent;
    border-image: repeating-linear-gradient(to bottom,
            #e5e5e5 0,
            #e5e5e5 1px,
            transparent 1px,
            transparent 3px) 1;
}

.serviceBut {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.button {
    width: 228px;
    height: 39px;
    background-color: #FFA800;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 24px;
    cursor: pointer;
}

.button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:active {
    background-color: white;
    color: #FFA800;
    border: 1px solid #FFA800;
}