.pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
    margin-top: 90px;
}

.pageBtn, .arrowBtn {
    width: 85px;
    height: 75px;
    border-radius: 5px;
    border: 2px solid rgba(196, 196, 196, 1);
    background: none;
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(146, 143, 148, 1);
    cursor: pointer;
}

.pageBtn:hover, .arrowBtn:hover {
    background: rgba(255, 255, 255, 1);
    color: rgba(255, 168, 0, 1);
    border: 2px solid rgba(255, 168, 0, 1);
}

.arrowBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.arrowBtn:disabled {
    opacity: 0.4;
    cursor: default;
}

.activePage {
    background: rgba(255, 168, 0, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
}




.dots {
    width: 85px;
    height: 75px;
    border-radius: 5px;
    border: 2px solid rgba(196, 196, 196, 1);
    background: none;
    font-size: 20px;
    color: #7d7d7d;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 18px 18px;
}

.dotsSvg {}