.leftService, .rightService {
    width: 95px;
    background: rgb(227, 227, 227);
    position: relative;
}

.leftService {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top: 1px solid rgb(213, 212, 212);
    border-bottom: 1px solid rgb(213, 212, 212);
    border-left: 1px solid rgb(213, 212, 212);
    display: flex;
    flex-direction: row;

}

.leftCol {
    flex: 1;
    display: flex;
    flex-direction: row;
    position: relative;
}

/* квадрат сверху */
.leftCol::before {
    content: "";
    position: absolute;
    top: -6px;
    /* выступает наружу */
    left: 55%;
    transform: translateX(-50%);
    width: 15px;
    height: 10px;
    background: rgb(146, 146, 146);
    border-radius: 2px;
    /* если хочешь – можно убрать */
}

/* квадрат снизу */
.leftCol::after {
    content: "";
    position: absolute;
    bottom: -6px;
    /* выступает наружу */
    left: 55%;
    transform: translateX(-50%);
    width: 15px;
    height: 10px;
    background: rgb(146, 146, 146);
    border-radius: 2px;
}

.exit {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.exitTop, .exitCenter, .exitBottom {
    display: flex;
    flex: 1;
}

/* .exitTop, */
.exitBottom {
    border-right: 1px solid rgb(213, 212, 212);
}

.exitCenter {
    /*   border-left: 4px solid rgb(213, 212, 212);
    border-right: 4px solid rgb(213, 212, 212); */

}

.roomAttendant, .roomToilet {
    flex: 1;
}

.roomAttendant, .roomToilet, .roomWater {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}

.roomAttendant {
    align-items: start;
    padding: 2px;
}

.roomToilet {
    border-right: 1px solid rgb(213, 212, 212);
    border-left: 1px solid rgb(213, 212, 212);

}

.roomWater {
    height: 30px;
    border-top: 1px solid rgb(213, 212, 212);
}

.rightCol {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.roomContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(213, 212, 212);

}

.roomContainer, .roomCenter {
    flex: 1;
}

/* Иконки */
.leftToilet, .rightToilet, .leftWater, .rightTrash, .rightNoSmoke {
    width: 22px;
    height: 22px;
}

.leftAttendant {
    width: 28px;
    height: 35px;
}

.wagonNumber {
    background-color: rgba(41, 41, 41, 1);
    padding: 0 4px;
    position: absolute;
    top: -20px;
    /* над правым блоком */
    left: 50%;
    transform: translateX(-50%);

    font-size: 15px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}