.about {
    max-width: 1920px;
    margin: 0 auto;
    height: 560px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
}

.content {
    margin-left: 260px;
    max-width: 1320px;
}

.title {
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(41, 41, 41, 1);

    margin-bottom: 30px;
}

.textBlock {
    position: relative;
    padding-left: 20px;
    border-left: 9px solid rgba(255, 168, 0, 1);
}

.textBlock p {
    margin-bottom: 25px;

    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(41, 41, 41, 1);
}

span {
    font-weight: 700;
}