.price {
    color: rgba(255, 255, 255, 1);
    padding: 35px 34px 32px 30px;
    border-radius: 4px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.title {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.labels {
    display: flex;
    justify-content: space-between;


}

.labels span {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.sliderWrapper {
    position: relative;
    width: 100%;
    height: 60px;
}

.track {
    max-width: 294px;
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    height: 20px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 8px;
}

.range {
    max-width: 290px;
    position: absolute;
    top: 14px;
    height: 20px;
    background: rgba(255, 168, 0, 1);
    border-radius: 8px;
}

.thumb {
    position: absolute;
    width: 100%;
    height: 48px;
    background: none;
    pointer-events: none;
    appearance: none;
}

.thumb::-webkit-slider-thumb {
    appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.value {
    position: absolute;
    white-space: nowrap;
    transition: none;

    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(229, 229, 229, 1);


}

.staticRight {
    top: 43px;
    right: 0;
    transform: none;
    text-align: right;
}

.staticLeft {
    top: 43px;
    left: 0;
    transform: none;
    text-align: left;
}