.container {
    color: #fff;
    border-bottom: 1px solid #E5E5E5;
    cursor: pointer;
    padding: 24px 34px 30px 26px;
}

.container:last-child {
    border-bottom: none
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 12px;
}

.iconWrapper {
    padding: 4px 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

    color: #FFFFFF;
}

.toggle {
    display: flex;
    align-items: center;
}

.container:hover .togglePlus path {
    fill: #FCDC9D;
}

.container:hover .togglePlus rect {
    stroke: #FCDC9D;
}


.body {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 46px;
}


/* стили для отображения на странице PASSENGER */

.containerPassenger {
    padding: 15px 27px 40px 27px;
}

.containerPassenger .header {
    align-items: baseline;
}

.containerPassenger .header .headerLeft {
    align-items: baseline;
    gap: 10px;
}

.containerPassenger .header .headerLeft .iconWrapper {
    padding: 0;
}


.tripContent {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding-top: 50px;
    color: #fff;
    cursor: default;
}


.row {
    display: flex;
    justify-content: space-between;
}

.label {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(229, 229, 229, 1);
}

.value, .time {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: rgba(255, 255, 255, 1);
}



.direction p {
    text-align: right;

    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: rigrgba(255, 255, 255, 1);
    text-transform: capitalize;
}

.timesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    position: relative;
}

/* Центрируем над сеткой */
.center {
    position: absolute;
    top: -28px;
    /* регулируешь под макет */
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

/* Сдвигаем время над стрелкой */
.duration {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(229, 229, 229, 1);
}

/* Колонки */
.col {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.colLeft {
    text-align: left;
}

.colLeft .time {
    text-align: left;
}

.colRight {
    text-align: right;
}

/* Стрелка */
.icon svg {
    width: 28px;
    height: 28px;
}

.date {
    margin-bottom: 20px;

    color: rgba(146, 143, 148, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.city {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;

}

.station {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(146, 143, 148, 1);
}


.rotate180 {
    transform: rotate(180deg);
}

.dateHeader {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

    color: rgba(255, 255, 255, 1);
    /* как в макете */
}