.trainsList {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    padding-right: 20px;
}

/* === КАРТОЧКА ПОЕЗДА === */
.trainCard {
    max-width: 960px;
    display: flex;
    background: #ffffff;
    border-radius: 8px;
    overflow: visible;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*! === ЛЕВАЯ КОЛОНКА === */
.left {
    min-width: 200px;
    max-width: 200px;
    background: #e5e5e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 25px;
    border-right: 1px solid #dcdcdc;

}

/* Иконка */
.trainIcon {
    width: 86px;
    height: 86px;
    margin: 0 0 17px 17px;
    background: url("../../../assets/icons/Train/train.svg") center/contain no-repeat;
}

/* Название поезда */
.trainNumber {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
    text-align: center;
    margin-bottom: 16px;
}

/* Серый город (если поезд стартует не из города отправления) */
.routeCityStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #928f94;
    margin-bottom: 6px;
    text-transform: capitalize;
    white-space: nowrap;
    /* ✅ запрещает перенос на новую строку */
}

/* Основной маршрут */
.routeMain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

/* Линия с городом отправления и стрелкой */
.routeLine {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Названия городов */
.routeCity {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    text-align: left;
    text-transform: capitalize;
    white-space: nowrap;
    /* ✅ запрещает перенос на новую строку */
}

/* Чёрная стрелка */
.routeArrowBlack {
    width: 18px;
    height: 14px;
    background: url("../../../assets/icons/Train/arrowMinThereBlack.svg") center/contain no-repeat;
}

/* Серая стрелка (для дополнительного маршрута) */
.routeArrowGray {
    width: 18px;
    height: 14px;
    background: url("../../../assets/icons/Train/arrowMinThereGray.svg") center/contain no-repeat;
}

.route {
    font-size: 14px;
    line-height: 1.3;
    color: #7b7b7b;
}

/*! === ЦЕНТРАЛЬНЫЙ БЛОК === */
.center {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    min-width: 480px;
    max-width: 480px;
    width: 100%;
    align-items: center;
    padding: 54px 36px 80px 40px;
    gap: 60px;
}

.directionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.direction {
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    align-items: center;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.timeBlock {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.direction .timeBlock:last-child {
    margin-left: 38px;
}


/* Центральный блок (стрелка и время пути) */
.arrowBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    text-align: center;
    gap: 6px;
}

/* Время отправления / прибытия */
.time {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #000000;
}

/* Название города */
.city {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #292929;
    text-transform: capitalize;
    white-space: nowrap;
}

/* Название вокзала */
.station {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #928f94;
    white-space: nowrap;
}



.duration {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #928f94;
    margin-bottom: 6px;
}

.arrowSvg {
    width: 36px;
    height: 20px;
}

/*! === ПРАВАЯ КОЛОНКА === */
.right {
    max-width: 280px;
    width: 100%;
    border-left: 1px solid #e5e5e5;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;

    padding: 40px 22px 22px 25px;
    gap: 20px;
}

.priceList {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin-bottom: auto;
    /* 🟢 вытолкнет блоки услуг и кнопку вниз */
}

/* Ряд с типом мест */
.priceRow {
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    width: 100%;
    gap: 10px;
    position: relative;
    /* Чтобы tooltip позиционировался внутри строки */
}

.priceLabel {
    flex: 1;
    text-align: left;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(62, 60, 65, 1);

}

.priceSeats {
    font-size: 16px;
    color: #ffa800;
    font-weight: 500;
    width: 25px;
    text-align: right;
}

.priceValue {
    min-width: 110px;
    text-align: right;
    display: flex;
    flex-direction: row;
    /* регулировка расположения между "от" и ценой */
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #292929;
    white-space: nowrap;
}

.pricePrefix {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: rgba(146, 143, 148, 1);
}

.priceNumber {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: #292929;
}

.rubleIcon {

    margin-left: 5px;
    fill: #292929;
    vertical-align: middle;
}

/* --- ИКОНКИ УСЛУГ --- */
.services {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-top: 8px;
}

.serviceIcon {
    object-fit: contain;
    width: 20px;
    height: 20px;
    fill: rgba(196, 196, 196, 1);
}

/* --- КНОПКА --- */
.button {
    width: 228px;
    height: 39px;
    background-color: rgba(255, 168, 0, 1);
    color: rgba(255, 255, 255, 1);

    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-family: "Roboto";
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:active {
    background-color: rgb(255, 255, 255);
    color: rgba(255, 168, 0, 1);
    border: 1px solid rgba(255, 168, 0, 1);
    box-shadow: none;

}
/*  ==========tooltip========== */
