.container {
    color: #fff;
    border-bottom: 1px solid #E5E5E5;
    cursor: pointer;
    padding: 24px 34px 30px 26px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconWrapper {
    padding: 4px 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.toggle {
    display: flex;
    align-items: center;
}

.body {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 46px;
}