.container {
    color: #fff;
    border-bottom: 1px solid #E5E5E5;
    cursor: pointer;
    padding: 24px 34px 30px 26px;
}

.container:last-child {
    border-bottom: none
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 12px;
}

.iconWrapper {
    padding: 4px 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;

    color: #FFFFFF;
}

.toggle {
    display: flex;
    align-items: center;
}

.container:hover :global(.tooglePlus) path {
    fill: rgba(252, 220, 157, 1);
    stroke: rgba(252, 220, 157, 1);
}

.container:hover :global(.tooglePlus) rect {
    stroke: rgba(252, 220, 157, 1);
}



.body {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 46px;
}


/* стили для отображения на странице PASSENGER */
/* ===== TRIP BLOCK (PASSENGER MODE) ===== */

.tripContent {
    padding: 16px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    color: #fff;
}

.row {
    display: flex;
    justify-content: space-between;
}

.label {
    font-size: 14px;
    color: #9f9f9f;
}

.value {
    font-size: 18px;
    font-weight: 700;
}

.direction p {
    text-align: right;
    font-size: 15px;
    line-height: 16px;
}

.timesWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.time {
    font-size: 24px;
    font-weight: 700;
}

.date {
    color: #9f9f9f;
    font-size: 14px;
}

.city {
    font-size: 16px;
    font-weight: 500;
}

.station {
    font-size: 14px;
    color: #9f9f9f;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.duration {
    font-size: 14px;
    color: #9f9f9f;
}

.icon svg {
    width: 24px;
    height: 24px;
}