.container {
    color: #fff;
    border-bottom: 1px solid #E5E5E5;
    cursor: pointer;
    padding: 24px 34px 30px 26px;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 22px;
  cursor: pointer;
  color: inherit;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconWrapper {
    padding: 4px 6px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 18px;
}

.toggle {
    display: flex;
    align-items: center;
}

.body {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}