/* 300 — Light */
@font-face {
    font-family: 'Roboto', "sans-serif";
    src: url('../assets/fonts/Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* 400 — Regular */
@font-face {
    font-family: 'Roboto', "sans-serif";
    src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* 500 — Medium */
@font-face {
    font-family: 'Roboto', "sans-serif";
    src: url('../assets/fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* 700 — Bold */
@font-face {
    font-family: 'Roboto', "sans-serif";
    src: url('../assets/fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}