@import "./fonts.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: rgba(41, 41, 41, 1);
    background-color: rgba(255, 255, 255, 1);

}

html {
    font-family: 'Roboto', sans-serif;
}