/* @import "./fonts.css"; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #292929;
    background-color: #fff;

}

html {
    font-family: 'Roboto', sans-serif;
}