.wrapper {
    position: relative;
}

.field {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(146, 143, 148, 1);
    background: #fff;
    padding: 0 13px;
    text-align: left;

    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;

    background-image: url("../../../../../assets/icons/PassengersPage/PassengersBlock/PassengerCard/select-arrow.svg");
    background-repeat: no-repeat;
    background-position: right 20px center;
}

.field:focus {
    border-color: rgba(255, 168, 0, 1);
    outline: none;
}

/* список */
.list {
    position: absolute;
    top: -10px;
    width: 100%;
    border-radius: 5px;
    background: rgba(244, 243, 246, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;

    z-index: 1000;
}

.list li {
    list-style: none;
}

.list li:first-child {
    border-bottom: 1px solid rgba(196, 196, 196, 1);
}

/* пункт */
.item {
    padding: 12px 20px;
    font-size: 24px;
    cursor: pointer;
}

.item:hover {
    background: #ececec;
}

.itemBtn {
    width: 100%;
    padding: 10px 13px;
    font-size: 24px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
}

.itemBtn:hover {
    background: #ececec;
}