.filters {
  width: 360px;
  min-height: 100%;
  background-color: rgba(62, 60, 65, 1);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.inner {
  display: flex;
  flex-direction: column;
}

.DateInputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 36px 30px 28px;
  border-bottom: 1px solid rgb(229,229,229);
}

.inputsSpan {
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;

  color: rgba(255, 255, 255, 1);
  margin-bottom: 16px;
}

.InputsOne, .InputsTwo {
  display: flex;
  flex-direction: column;
}