.filters {
  width: 360px;
  min-height: 100%;
  background-color: #3e3c41;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.inner {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
}

.DateInputs {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 36px 30px 28px;
  border-bottom: 1px solid #E5E5E5;
}

.inputsSpan {
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;

  color: #FFFFFF;
  margin-bottom: 16px;
}

.InputsOne, .InputsTwo {
  display: flex;
  flex-direction: column;
}