.options {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px 35px 20px 60px;
    border-bottom: 1px solid rgb(229, 229, 229);
    border-radius: 4px;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    align-items: center;
    gap: 34px;
}

.icon {
    width: 20px;
    height: 20px;
    fill: rgba(255, 255, 255, 1);
}

p {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    font-weight: 400;
}

.toggle {
    all: unset;
    cursor: pointer;
    width: 72px;
    height: 20px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.toggle.active {
    background-color: rgba(252, 220, 157, 1);
}

.toggle .circle {
    width: 28px;
    height: 28px;
    background-color: rgba(196, 196, 196, 1);
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.toggle.active .circle {
    transform: translateX(50px);
    background-color: rgba(255, 168, 0, 1);
}