.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 480px;
    max-width: 480px;
    padding: 54px 36px 80px 40px;
    gap: 60px;
}

.centerChoiseLocation {
    padding: 0 36px;
}

.directionBlock {
    width: 100%;
    display: flex;
    justify-content: center;
}

.direction {
    display: grid;
    grid-template-columns: 0.8fr 50px 1fr;
    align-items: start;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.directionChoiseLocation {
    align-items: center;
}

.directionChoiseLocation .rightBlock {
    padding-left: 50px;

}

.timeBlock {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.rightBlock {
    padding-left: 38px;
}


.time {
    font-weight: 700;
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
}

.city {
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
    text-transform: capitalize;
    white-space: nowrap;
}

.station {
    font-size: 18px;
    font-weight: 400;
    color: rgba(146, 143, 148, 1);
    white-space: normal;
    overflow-wrap: break-word;
}

.arrowBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.duration {
    font-weight: 400;
    font-size: 18px;
    color: rgba(196, 196, 196, 1);
}

.durationChoiseLocation {
    display: none;
}

.arrowSvg {
    width: 36px;
    height: 20px;
}

/* вариант стилей для leftCollumn */

.centerPassenger {
    padding: 0;
    min-width: 0;
    width: 100%;
}

.directionPassenger .direction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}


.directionPassenger .direction .arrowBlock {
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
}

.directionPassenger .direction .rightBlock {
    text-align: right;
    padding: 0;
}

.directionPassenger .direction .leftBlock {
    text-align: left;
}

.directionPassenger .direction .rightBlock .date,
.directionPassenger .direction .leftBlock .date {
    margin-bottom: 20px;
    color: rgba(146, 143, 148, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.directionPassenger .direction .rightBlock .city,
.directionPassenger .direction .leftBlock .city {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: capitalize;

}

.directionPassenger .direction .rightBlock .station,
.directionPassenger .direction .leftBlock .station {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(146, 143, 148, 1);
}

.directionPassenger .direction .rightBlock .time,
.directionPassenger .direction .leftBlock .time {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}