.wrapper {
    display: flex;
    align-items: center;
}

.wrapper>*:not(:last-child) {
    margin-right: 20px;
}

.starButton {
    width: 48px;
    height: 48px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.starButton:hover {
    transform: scale(1.15);

}

.starButton svg {
    width: 48px;
    height: 48px;
}

.starFilled {
    fill: white;
}