.wrapper {
    background: rgba(255, 255, 255, 1);
}

.title {
    padding: 35px;
    background: rgba(249, 249, 249, 1);

}

.titleText {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(41, 41, 41, 1);
}

.section {
    padding: 50px 0 60px 35px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}

.checkbox span {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(146, 143, 148, 1);
}


.checkboxInput {
    appearance: none;
    /* главное */
    -webkit-appearance: none;

    width: 28px;
    height: 28px;
    border: 1px solid rgba(146, 143, 148, 1);
    border-radius: 5px;
    /* квадрат с круглыми углами */
    display: inline-block;
    position: relative;
    cursor: pointer;
    background: white;
}

/* Галочка */
.checkboxInput:checked {
    background: none;
    border-color: rgba(255, 168, 0, 1);
}

/* SVG галочки через псевдоэлемент */
.checkboxInput:checked::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 7px;
    width: 8px;
    height: 18px;
    border: solid rgba(255, 168, 0, 1);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkboxInput.cash:checked::after {
    border-color: rgba(255, 255, 255, 1);
}

.checkboxInput:checked+.cashText {
    color: rgba(255, 168, 0, 1);
}

.methods {
    display: flex;
    align-items: start;
    gap: 80px;
    margin-top: 30px;
}

.methodBtn {
    border: 1px solid transparent;
    background: none;

    border: none;
    background: none;

    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: rgba(41, 41, 41, 1);

    cursor: pointer;
    border-radius: 4px;
    text-align: left;
}

.methodBtn.active {
    background: rgba(255, 168, 0, 0.2);
    border-color: rgba(255, 168, 0, 0.9);
}

.border {
    border-bottom: 1px solid rgba(196, 196, 196, 1);
    border-image: repeating-linear-gradient(to right,
            rgba(196, 196, 196, 1) 0,
            rgba(196, 196, 196, 1) 1px,
            transparent 1px,
            transparent 3px) 1;

}