.wrapper {
    max-width: 960px;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(196, 196, 196, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}