.wrapper {
    max-width: 960px;
    width: 100%;
    background: #ffffff;
    /* Figma border */
    border: 1px solid rgba(196, 196, 196, 1);
    /* Figma shadow */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    /* если в макете есть скругление, если нет — убери */
}

.topBar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 24px 20px 24px 20px;
}

.topBarSecond {
    justify-content: end;
}

.topBarSecond .backButton {
    transform: none;
}

.backButton {
    cursor: pointer;
    transform: rotate(180deg);
    width: 76px;
    height: 60px;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



.arrow {
    width: 18px;
    height: 14px;
    background: url("../../../assets/icons/Train/arrowMinThereBlack.svg") center/contain no-repeat;
}

.changeButton {
    width: 325px;
    height: 60px;
    border: 1px solid rgba(41, 41, 41, 1);
    border-radius: 5px;
    background: white;

    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    cursor: pointer;
    color: rgba(41, 41, 41, 1)
}

.changeButton:hover, .backButton:hover {
    background: #f3f3f3;
}

/* ---------------------------- */
/* БЛОК 2 — КАРТОЧКА ПОЕЗДА     */
/* ---------------------------- */
.trainInfoCard {
    max-width: 960px;
    width: 100%;

    display: flex;
    flex-direction: row;

    background: rgba(247, 246, 246, 1);
    margin-bottom: 40px;
}

/* Левая колонка */
.trainLeft {
    max-width: 260px;
    width: 100%;
    border-right: 1px solid rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    padding: 15px 10px 15px 35px;

}

.routeArrowBlack {
    width: 18px;
    height: 14px;
    background: url("../../../assets/icons/Train/arrowMinThereBlack.svg") center/contain no-repeat;
}

.trainNumber {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.cities {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #444;
    text-transform: capitalize;
}

.cities span {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}


.infoTrain {
    display: flex;
    flex-direction: column;
}

.routeLine {
    display: flex;
    align-items: center;
    gap: 6px;
}

/* Центр */
.trainCenter {
    max-width: 480px;
    width: 100%;
    color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.timeBlock {
    text-align: left;
}

.time {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);

    margin-bottom: 10px;
}

.city {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
    text-transform: capitalize;

    margin-bottom: 5px;
}

.station {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(146, 143, 148, 1);
    text-transform: capitalize;
}

.station span {
    font-weight: 400;
    text-transform: none;
}


.arrowBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    transform: rotate(180deg);

}

.duration {
    font-size: 14px;
    color: #777;
}


/* Правая колонка */
.trainRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-left: 1px solid rgba(255, 255, 255, 1);
    padding-left: 35px;
}

.durationBox {
    display: flex;
    flex-direction: column;
    gap: 2px;
    /* маленький зазор как на макете */
}

.durationHours,
.durationMinutes {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

/* ---------------------------- */
/* БЛОК 3 — КОЛИЧЕСТВО БИЛЕТОВ */
/* ---------------------------- */

/* Блок количества билетов */
.ticketsBlock {
    min-height: 130px;
    /*  ?  возможно лучше 240 */
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(196, 196, 196, 1);
    border-image: repeating-linear-gradient(to right,
            rgba(196, 196, 196, 1) 0,
            rgba(196, 196, 196, 1) 1px,
            transparent 1px,
            transparent 3px) 1;
}

.blockTitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(41, 41, 41, 1);
    margin: 0 0 10px 20px;
}

/* Контейнер с полями */
.ticketFields {
    display: flex;
    flex-direction: row;

}

/* Одна колонка (Взрослые / Детские / Детские без места) */
.field {
    width: 240px;
    display: flex;
    flex-direction: column;
}

/* Основный стиль поля */
.ticketField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    border: 1px solid #cfcfcf;
    border-radius: 10px;
    cursor: text;
}

/* Статичный текст */
.labelText {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(41, 41, 41, 1);
    pointer-events: none;
}

/* Инпут */


.numberInput {
    width: 40px;
    /* критически важно */
    text-align: right;
    font-size: 20px;
    border: none;
    outline: none;
    background: transparent;
}

.numberInput::-webkit-inner-spin-button,
.numberInput::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Активное поле (ховер из макета) */
/* .active {
    background: #f4f4f4;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
} */

/* Хинт */
.hint {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.3;
    color: #444;
}