/* ============= ОБОЛОЧКА ============= */
.wrapper {
    max-width: 960px;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgba(196, 196, 196, 1);
    overflow: visible;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 40px;
}


/* ============= ОСНОВНОЙ КОНТЕЙНЕР ============= */
.content {
    display: flex;
    width: 100%;
}


/* ============= ПРАВАЯ КОЛОНКА ============= */
.right {
    max-width: 280px;
    width: 100%;
    border-left: 1px solid transparent;
    border-image: repeating-linear-gradient(to bottom,
            #e5e5e5 0,
            #e5e5e5 1px,
            transparent 1px,
            transparent 3px) 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 40px 22px 22px 25px;
}