.price {
    color: rgba(255, 255, 255, 1);
}

.title {
    margin-bottom: 5px;
    margin-left: 4px;
    color: rgba(229, 229, 229, 1);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}

/* выравнивание заголовка прибытия */
.titleRight {
    text-align: right;
    margin-right: 4px;
}

.sliderWrapper {
    position: relative;
    width: 100%;
    height: 65px;
}

.track {
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    height: 10px;
    border-radius: 8px;
    border: 1px solid rgb(196, 196, 196);
}

.range {
    position: absolute;
    top: 14px;
    height: 10px;
    background: rgba(255, 168, 0, 1);
    border-radius: 8px;
}

.thumb {
    position: absolute;
    width: 100%;
    height: 40px;
    background: none;
    pointer-events: none;
    appearance: none;
}

.thumb::-webkit-slider-thumb {
    appearance: none;
    pointer-events: all;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.value {
    position: absolute;
    top: 38px;
    white-space: nowrap;
    color: rgba(229, 229, 229, 1);
    transform: translateX(0);
    transition: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;

}

.staticLeft {
    left: 0;
    text-align: left;
}

.staticRight {
    right: 0;
    text-align: right;
}