/* Общие параметры */
.header {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 990px;
    max-height: 990px;
    color: #fff;
    background-image: url("../../../assets/img/train-bg.png");
    background-color: rgba(0, 0, 0, 0.69);
    background-size: 1920px auto; /* фикс ширины, без растягивания */
    background-repeat: no-repeat;
    background-position: center top;
    /* overflow: hidden; */
    border-bottom: 8px solid rgba(255, 168, 0, 1);
}
.innerHeader {
    min-height: 596px;
    max-height: 596px;
    border-bottom: none;
    background-image: url("../../../assets/img/header/imgNoFull.png");
}

/* ======== Верхний блок с логотипом ======== */
.logoBar {
    height: 64px;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 0 0 258px; /* отступ слева */
}
.innerHeader .logoBar {
    background: rgba(41, 41, 41, 0.6);
}
.logo {
    font-weight: 700;
    color: #ffffff;
    font-size: 36px;
}

/* ======== Навигация ======== */
.navBar {
    background-color: rgba(41, 41, 41, 1);
    height: 94px;
    display: flex;
    align-items: center;
    padding-left: 258px; /* якорные ссылки с тем же отступом */
}

.nav {
    display: flex;
    gap: 80px;
}

.nav a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;

    font-weight: 300;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
}

.nav a:hover {
    color: #fcdc2a;
}

/* ======== Герой-блок ======== */
.hero {
    margin-top: 250px;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
}
.innerHeader .hero {
    margin-top: 110px;
    min-height: 0;
}

.heroContent {
    display: flex;
    align-items: start;
    gap: 120px;
    padding-left: 350px;
}
.innerHeader .heroContent {
    padding: 0;
    margin: 0 auto;
}

.textBlock h1 {
    padding-top: 160px;
    font-weight: 100;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.textBlock span {
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}
/* 
.formBlock {
    background: rgba(0, 0, 0, 0.6);
    padding: 24px;
    border-radius: 8px;
    max-width: 420px;
}
 */
