.card {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    overflow: hidden;
}

/* ЛЕВАЯ ЖЁЛТАЯ КОЛОНКА */
.left {
    background: rgba(255, 217, 143, 1);
    width: 190px;
    height: 160px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right {
    padding: 30px 40px 0 85px;
}

.wagonNumber {
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0%;
}

.wagonLabel {
    font-size: 28px;
    color: #2c2c2c;
}

/* ПРАВАЯ ЧАСТЬ */
.container {
    display: flex;
    flex-direction: row;
}

/* Ряды */
.row {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 25px;
}

/* Колонки */
.col {
    display: flex;
    flex-direction: column;
    min-width: 160px;
}

.colTitle {
    color: #777;
    font-size: 20px;
    margin-bottom: 5px;
}

.colValue {
    font-size: 32px;
    font-weight: 600;
}

/* Цена */
.priceBlock {
    display: flex;
    font-size: 32px;
    font-weight: 700;
}

.ruble {
    margin-left: 4px;
}

/* Сервис */
.serviceIcons {
    display: flex;
    gap: 15px;
}

.iconWrap {
    position: relative;
}

.iconWrap svg {
    width: 40px;
    height: 40px;
    padding: 8px;
    background: #f6c356;
    border-radius: 8px;
}

.tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    background: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 16px;
    white-space: nowrap;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.iconWrap:hover .tooltip {
    display: block;
}

/* Карта мест */
.seatMap {
    margin-top: 20px;
}