.card {
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
    overflow: hidden;
}

/* ЛЕВАЯ ЖЁЛТАЯ КОЛОНКА */
.left {
    background: rgba(255, 217, 143, 1);
    width: 190px;
    height: 160px;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right {
    display: flex;
    flex-direction: row;
    padding: 30px 40px 0 85px;
}

.wagonNumber {
    font-weight: 700;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: 0%;
}

.wagonLabel {
    font-size: 28px;
    color: #2c2c2c;
}

/* ПРАВАЯ ЧАСТЬ */
.container {
    display: flex;
    flex-direction: row;
}

/* Ряды */
.row {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-bottom: 25px;
}

.topRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contsinerServices {
    display: flex;
    flex-direction: row;
    gap: 13px;


}

/* Колонки */
.col {
    width: 200px;
    display: flex;
    flex-direction: column;
    min-width: 160px;
    padding: 10px;
}

.placeRow {
    display: flex;
    align-items: baseline;
    /* чтобы цифры стояли ровно по линии текста */
    gap: 6px;
    /* расстояние между “Места” и числом */
}

.subInfo, .containerPrice {
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.subTitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

.rubleIcon {
    width: 14px;
    height: 17px;
}

.titleGrayInline, .titleGray {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(146, 143, 148, 1);
    margin-bottom: 20px;
}

.valueBigInline {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);

}

.costRow {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: baseline;
}

.costValue {
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);

}

.colTitle {
    color: #777;
    font-size: 20px;
    margin-bottom: 5px;
}

.colValue {
    font-size: 32px;
    font-weight: 600;
}

/* Цена */
.priceBlock {
    display: flex;
    font-size: 32px;
    font-weight: 700;
}

.ruble {
    margin-left: 4px;
}

/* Сервис */
.serviceIcons {
    display: flex;
    gap: 15px;
}

.iconWrap {
    position: relative;
}

.iconWrap svg {
    width: 40px;
    height: 40px;
    padding: 8px;
    background: #f6c356;
    border-radius: 8px;
}

.tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    background: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 16px;
    white-space: nowrap;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.iconWrap:hover .tooltip {
    display: block;
}

/* Карта мест */
.seatMap {
    margin-top: 20px;
}

/* ===============  ДОП УСЛУГИ — ЕДИНЫЕ СТИЛИ КНОПОК  ================= */
/* === КНОПКИ ДОП УСЛУГ — общее === */
.contsinerServices button {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    /* базовое */
    padding: 0;
}

/* svg внутри */
.contsinerServices button svg {
    width: 22px;
    height: 22px;
    fill: rgba(41, 41, 41, 1);
}

/* === ДОСТУПНО ДЛЯ ПОКУПКИ === */
.contsinerServices button.iconAvailable {
    background: #fff;
    border: 1px solid rgba(41, 41, 41, 1);
}

.contsinerServices button.iconAvailable svg {
    fill: rgba(41, 41, 41, 1);
}

/* === АКТИВНО (пользователь выбрал) === */
.contsinerServices button.iconActive {
    background: rgba(253, 185, 53, 1);
    border: none;
}

.contsinerServices button.iconActive svg {
    fill: rgba(244, 242, 246, 1);
}

/* === ВХОДИТ В СТОИМОСТЬ (некликабельно) === */
.contsinerServices button.iconIncluded {
    background: rgba(252, 220, 157, 1);
    border: none;
    cursor: default;
}

.contsinerServices button.iconIncluded svg {
    fill: rgba(146, 143, 148, 1);
}

/* === НЕДОСТУПНО — ПОЛНОСТЬЮ СКРЫТО === */
.contsinerServices button.iconDisabled {
    display: none !important;
}

/* === ХОВЕРЫ ДЛЯ доступных или активных === */
.contsinerServices button.iconAvailable:hover,
.contsinerServices button.iconActive:hover {
    background: rgba(255, 168, 0, 1);
    border: 1px solid rgba(41, 41, 41, 1);
}

.contsinerServices button.iconAvailable:hover svg,
.contsinerServices button.iconActive:hover svg {
    fill: rgba(41, 41, 41, 1);
}

/* ==== ВСПЛЫВАЮЩИЕ ПОДСКАЗКИ ДЛЯ ДОП УСЛУГ ==== */

.tooltipService {
    height: 34px;
    position: absolute;
    top: 48px;
    /* расстояние вниз от кнопки */
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    background: none;
    padding: 8px 10px;
    border-radius: 5px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(41, 41, 41, 1);

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.15s ease;
}

/* показываем при наведении */
.contsinerServices button:hover .tooltipService {
    opacity: 1;
}