.wrapper {
    width: 100%;
    /*  padding: 20px; */
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(41, 41, 41, 1);
    margin: 30px 0 20px 20px;

}

.containerType {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 140px 25px 15px;
    gap: 24px;
}

.typeItem {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: 18px;
    padding: 12px 16px;
    border-radius: 12px;
    border: 2px solid transparent;
    transition: 0.2s;
}

.icon {
    width: 50px;
    height: 50px;
    fill: rgba(196, 196, 196, 1)
}

.label {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(146, 143, 148, 1);
}

/* АКТИВНОЕ СОСТОЯНИЕ */
.active {
    /*     border-color: rgba(255, 168, 0, 1);
    background: #fff4d1; */
}

.active .icon {
    fill: rgba(255, 168, 0, 1);
}

.active .label {
    color: rgba(255, 168, 0, 1);
}

.appearedBlock {
    margin-top: 20px;
    background: #e0dede;
}

/* ============================= */
/*        БЛОК ВАГОНОВ (MAKET)   */
/* ============================= */

.wagonsHeader {
    background: rgba(255, 217, 143, 1);
    padding: 10px 10px 10px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}

.wagonsTitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(41, 41, 41, 1);
}

.wagonButtons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.wagonBtn {
    background: none;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;
    color: rgba(0, 0, 0, 1);

    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;

}

.wagonBtn:hover {}

/* Активный — синий фон + белый текст */
.activeWagon {
    color: white;
}

.right {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(41, 41, 41, 1);
    white-space: nowrap;
}