 /*   КОНТЕЙНЕР           */

 .stepsContainer {
     display: flex;
     width: 100%;
     height: 98px;
     max-width: 1920px;
     overflow: hidden;
 }

 /* Один шаг */
 .step {
     display: flex;
     flex-direction: row;
     height: 98px;
     position: relative;
 }

 /* Шаги 2 и 3 → фиксированные 320px */
 .step2,
 .step3 {
     width: 360px;
     flex: 0 0 360px;
 }

 /* Шаги 1 и 4 → занимают остаток пространства поровну */
 .step1,
 .step4 {
     flex: 1 1 0;
     display: flex;
 }


 /*   ПРЯМОУГОЛЬНИК       */

 .box {
     flex: 1;
     height: 100%;
     display: flex;
     align-items: center;
     gap: 20px;

     padding-left: 35px;

     background: rgba(62, 60, 65, 1);
     color: rgba(255, 255, 255, 1);
 }


 /*       ЦИФРА            */

 .numberWrapper {
     width: 56px;
     height: 56px;

     border-radius: 50%;
     border: 3px solid rgba(255, 255, 255, 1);

     display: flex;
     align-items: center;
     justify-content: center;
     flex-shrink: 0;
 }

 .number {
     font-weight: 700;
     font-size: 36px;
     line-height: 36px;
     color: rgba(255, 255, 255, 1);

 }


 /*       ТЕКСТ            */

 .title {
     font-weight: 700;
     font-size: 30px;
     line-height: 30px;
     color: rgba(255, 255, 255, 1);

     white-space: nowrap;
 }


 /*     ТРЕУГОЛЬНИК       */

 .containerTriangle {
     width: 43px;
     height: 98px;
     position: relative;
     flex-shrink: 0;
     background: rgba(62, 60, 65, 1);
 }

 .triangleBg {
     position: absolute;
     inset: 0;
     background: rgba(62, 60, 65, 1);
     clip-path: polygon(0 0, 100% 50%, 0 100%);
 }

 .line {
     position: absolute;
     inset: 0;
     width: 43px;
     height: 98px;
     stroke: rgba(229, 229, 229, 1);
     stroke-width: 2;
     fill: none;
     pointer-events: none;
 }

 /*     ПРОЙДЕННЫЕ        */
 .active .box {
     background: rgba(255, 168, 0, 1);
 }

 .active>.containerTriangle,
 .active>.containerTriangle .triangleBg {
     background: rgba(255, 168, 0, 1);
 }

 /*     ТЕКУЩИЙ           */
 .current .box {
     background: rgba(255, 168, 0, 1);
 }

 .current>.containerTriangle .triangleBg {
     background: rgba(255, 168, 0, 1);
 }

 /*   ПОСЛЕДНИЙ ШАГ       */
 .last .containerTriangle {
     display: none;
 }