/* Контейнер */
.stepsContainer {
    display: flex;
    width: 100%;
    max-width: 1920px;
    height: 98px;
}

/* Один шаг */
.step {
    display: flex;
    height: 98px;
    position: relative;
}

/* 1 и 4 — тянутся */
.step1,
.step4 {
    flex: 1 1 0;
}

/* 2 и 3 — фиксированные */
.step2,
.step3 {
    flex: 0 0 320px;
}

/* ===================== */
/*   RECTANGLE PART      */
/* ===================== */
.box {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 16px;

    padding-left: 40px;
    padding-right: 24px; /* фиксировано как в макете */
    
    background: #3b3b46;
    color: white;

    flex-shrink: 0;
    flex-grow: 1;  /* тянем прямоугольник */
}

/* ЦИРКУЛЬ — КРУГ   */
.numberWrapper {
    width: 48px;
    height: 48px;

    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 1);

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
}

.number {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: white;
}

/* Текст */
.title {
    font-family: Roboto;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: white;

    white-space: nowrap;
}

/* ===================== */
/*      TRIANGLE PART    */
/* ===================== */
.containerTriangle {
    position: relative;
    width: 40px;
    height: 98px;
    background: #3b3b46;
    flex-shrink: 0;
}

.triangleBg {
    position: absolute;
    inset: 0;
    background: #3b3b46;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.line {
    position: absolute;
    inset: 0;
    width: 40px;
    height: 98px;
    stroke: rgba(229, 229, 229, 1);
    stroke-width: 2;
    fill: none;
    pointer-events: none;
}

/* ===================== */
/*      ACTIVE (пройден) */
/* ===================== */
.active .box {
    background: #f5b335;
    color: #3b3b46;
}

.active > .containerTriangle {
    background: #f5b335;
}

.active > .containerTriangle .triangleBg {
    background: #f5b335;
}

/* ===================== */
/*     CURRENT (текущий) */
/* ===================== */
.current .box {
    background: #f5b335;
    color: #3b3b46;
}

.current > .containerTriangle .triangleBg {
    background: #f5b335;
}

/* Последний без треугольника */
.last .containerTriangle {
    display: none;
}