/* Блок количества билетов */
.ticketsBlock {
    min-height: 130px;
    /*  ?  возможно лучше 240 */
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(196, 196, 196, 1);
    border-image: repeating-linear-gradient(to right,
            rgba(196, 196, 196, 1) 0,
            rgba(196, 196, 196, 1) 1px,
            transparent 1px,
            transparent 3px) 1;
}

.blockTitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(41, 41, 41, 1);
    margin: 0 0 10px 20px;
}

/* Контейнер с полями */
.ticketFields {
    display: flex;
    flex-direction: row;

}