.services {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding-right: 8px;
}

.serviceIcon {
    width: 20px;
    height: 20px;
    fill: rgba(196, 196, 196, 1);
}