.wrapper {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgb(217, 217, 217);
}

.content {
    display: flex;
    justify-content: space-between;
    min-height: 120px;
}

.left {
    display: flex;
    font-size: 20px;
    color: rgba(41, 41, 41, 1);
    white-space: pre-line;

    min-width: 680px;
    max-width: 680px;
}

.containerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 40px 0 70px 30px;
    position: relative;
}

.containerText::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-image: repeating-linear-gradient(to bottom,
            rgb(229, 229, 229) 0,
            rgb(229, 229, 229) 2px,
            transparent 1px,
            transparent 3px);
}


.text {
    font-weight: 400;
    font-size: 24px;
    color: rgba(41, 41, 41, 1);
}

.right {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    padding: 20px;
}