.wrapper {
    background: rgba(255, 255, 255, 1);
}

.title {
    background: rgba(249, 249, 249, 1);
    padding: 35px;
}

.titleText {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(41, 41, 41, 1);

}

.containerForm {
    padding: 30px 35px 90px;
}

.row {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.fieldFull {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.personalLabel {
    font-size: 14px;
    margin-bottom: 8px;
}

.personaInput {
    height: 50px;
    border: 1px solid #ccc;
    padding: 0 12px;
    border-radius: 4px;
    font-size: 16px;
}

.border {
    border-bottom: 1px solid rgba(196, 196, 196, 1);
    border-image: repeating-linear-gradient(to right,
            rgba(196, 196, 196, 1) 0,
            rgba(196, 196, 196, 1) 1px,
            transparent 1px,
            transparent 3px) 1;

}