.page {
    background: #f7f6f6;
    min-height: 100vh;
    color: #000;
}

.main {
    max-width: 1920px;
    min-height: 1000px;
    margin: 0 auto;
    padding: 40px 20px 80px 20px;
    position: relative;
}

.containerInfo {
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);

    margin: 0 auto;

    min-width: 1400px;
    max-width: 1400px;
    width: 100%;
    background: #ffffff;

    border: 1px solid rgba(196, 196, 196, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    overflow: visible;
}

/* === TOP PANEL === */
.topPanel {
    min-height: 150px;
    max-height: 150px;
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderNumber {
    color: #000;
    font-weight: 700;
    font-size: 22px;
}

.sum {
    color: #000;
    font-size: 20px;
}

.sum span {
    font-weight: 700;
    margin-left: 8px;
}

/* === ICONS === */
.iconsBlock {
    min-height: 310px;
    background: rgba(244, 243, 246, 1);
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.iconItem {
    text-align: center;
    font-size: 15px;
    color: #4b4b4b;
}

.iconItem p {
    color: #000;
}

.icon {
    width: 90px;
    height: 90px;
    margin-bottom: 12px;
}

/* === MESSAGE === */
.messageBlock {
    min-height: 490px;
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 40px;

}

.name {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

.text {
    font-size: 18px;
    color: #000;

    margin-bottom: 18px;
}

.textStrong {
    font-weight: 600;
    font-size: 18px;
    color: #000;

}

/* === BOTTOM === */
.bottom {
    min-height: 160px;

    background: #f3a52b;
    padding: 30px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ratingBlock p {
    font-size: 18px;
}

.stars {
    font-size: 26px;
    color: #000;
}

/* Button */
.backButton {
    background: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 12px 28px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.backButton:hover {
    background: #f8f8f8;
}