.page {
    background: #f7f6f6;
    min-height: 100vh;
    color: #000;
}

.main {
    max-width: 1920px;
    min-height: 1000px;
    margin: 0 auto;
    padding: 40px 20px 80px 20px;
    position: relative;
}

.containerBody {
    position: absolute;
    top: -340px;
    left: 50%;
    transform: translateX(-50%);

    margin: 0 auto;

    min-width: 1400px;
    max-width: 1400px;
    width: 100%;
}


.containerTitle {
    width: 100%;
    height: 120px;
    background-color: none;
}

.title {}

.title p {
    font-weight: 700;
    font-size: 72px;
    color: rgba(255, 255, 255, 1);
}

.containerInfo {
    width: 100%;
    background: #ffffff;

    border: 1px solid rgba(196, 196, 196, 1);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

    overflow: visible;
}

/* === TOP PANEL === */
.topPanel {
    min-height: 150px;
    max-height: 150px;
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.orderNumber, .sum {
    font-weight: 700;
    font-size: 36px;
    color: rgba(62, 60, 65, 1);

}

.sum {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 5px;
}

.sum p {
    font-weight: 400;
    font-size: 36px;
    color: rgba(146, 143, 148, 1);
}

.sumRub {
    width: 21px;
    height: 27px;
}

.sumSpanIcon {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

/* === ICONS === */
.iconsBlock {
    min-height: 310px;
    background: rgba(244, 243, 246, 1);
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.containerIconsBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 140px;
}

.iconItem {
    text-align: center;
    font-size: 15px;
    color: #4b4b4b;
}

.iconItem p {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: rgba(41, 41, 41, 1);
}

.icon {
    width: 155px;
    height: 155px;
    margin-bottom: 10px;
}

/* === MESSAGE === */
.messageBlock {
    min-height: 490px;
    background: #fff;
    border: 1px solid #e5e5e5;
    padding: 95px 230px 130px 200px;

}

.name {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 50px;
    color: rgba(41, 41, 41, 1);
}

.text {
    font-weight: 400;
    font-size: 24px;

    color: rgba(41, 41, 41, 1);
    margin-bottom: 70px;
}

.textStrong {
    font-weight: 700;
    font-size: 24px;
    color: rgba(41, 41, 41, 1);

}

/* === BOTTOM === */
.bottom {
    min-height: 160px;

    background: #f3a52b;
    padding: 30px 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ratingBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.ratingBlock p {
    font-weight: 400;
    font-size: 24px;
    color: rgba(41, 41, 41, 1);

}

.stars {
    font-size: 26px;
    color: #000;
}

/* Button */
.backButton {
    width: 360px;
    height: 60px;
    background: none;
    color: rgba(41, 41, 41, 1);
    border: 1px solid rgba(62, 60, 65, 1);
    border-radius: 5px;

    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.backButton:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.backButton:active {
    color: rgba(255, 168, 0, 1);
    background: rgba(255, 255, 255, 1);
}