.total {
    height: 100px;
    padding: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total span {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 1);
}

.total strong {
    color: rgba(255, 168, 0, 1);
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5px;
}

.rubleIcon {
    width: 26px;
    height: 32px;
    fill: rgba(229, 229, 229, 1);
}