.container {
    width: 920px;
    height: 145px;
    display: flex;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
}

.mainArea {
    flex: 1;
    display: flex;
    flex-direction: column;
}