/* .block {
    margin-top: 25px;
} */

.title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 1);
    margin-bottom: 30px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

/* Карточка */
.card {
    width: 360px;
    background: #fff;
    border: 1px solid rgba(196, 196, 196, 1);
    box-shadow: 0px 2px 2px rgba(62, 60, 65, 0.25);
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

/* Левая и правая части */
.left, .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Названия городов */
.city {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

    color: #2d2d2d;
    text-transform: capitalize;
}

/* Названия вокзалов */
.station {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(146, 143, 148, 1);
}

.stationLeft {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: rgba(146, 143, 148, 1);
    text-align: left;
}

.stationRight {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: rgba(146, 143, 148, 1);
    text-align: right;
}

/* Цена */
.priceBlock {
    display: flex;
    align-items: baseline;
    /* ВАЖНО */
    gap: 6px;
}

.fromText {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: rgba(146, 143, 148, 1);
}

.price {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;

    color: rgba(255, 168, 0, 1);
}

.rubleIcon {
    width: 20px;
    height: 25px;
    margin-left: 10px;
}

/* Состояния */
.loading,
.empty {
    font-size: 14px;
    opacity: 0.6;
}

.icons {
    grid-column: 1 / 3;
    display: flex;
    gap: 15px;
    /* fill: rgba(229, 229, 229, 1); */
}

.icon {
    width: 20px;
    height: 20px;
    opacity: 0.25;
    /* как в макете */
}