.contacts {
    background: rgba(45, 43, 47, 1);
    color: #fff;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.topBlock {
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1200px;
    margin: 0 auto;
}

.title {
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin-bottom: 35px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.list li {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
}
.list li:not(:last-child) {
    align-items: center;
}
.list li:last-child {
    align-items: flex-start;
}
.list li p {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(229, 229, 229, 1);
}

.subscribe {
    display: flex;
    flex-direction: column;
    /*  gap: 20px; */
}

.label {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(229, 229, 229, 1);
    margin-bottom: 20px;
}

.form {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 40px;
}

.input {
    width: 450px;
    height: 60px;
    border: none;
    border-radius: 3px;
    padding: 0 15px;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.input::placeholder {
    font-weight: 400;
    font-size: 24px;
    color: rgba(229, 229, 229, 1);
    line-height: normal;
}
.button {
    width: 170px;
    height: 60px;
    padding: 0 15px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 3px;
    color: rgba(229, 229, 229, 1);
    cursor: pointer;
    transition: 0.3s;

    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.button:hover {
    background: rgba(255, 202, 98, 1);
    color: rgba(45, 43, 47, 1);
    border: none;
}

.button:active {
    background: rgba(255, 255, 255, 1);
    color: rgba(45, 43, 47, 1);
    border: none;
}

.socials {
    display: flex;
    gap: 48px;
}

.socials svg {
    fill: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.socials svg:active {
    fill: rgba(255, 202, 98, 1);
}

.bottomBlock {
    height: 96px;
    padding: 25px 250px;
}

.bottomContainer {
    width: 100%;
    /* margin: 0 250px ; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(229, 229, 229, 1);
}

.upButton {
    cursor: pointer;
    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
}

.upButton:hover {
    transform: translateY(-3px);
    opacity: 0.8;
}

.copy {
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(229, 229, 229, 1);
    opacity: 0.8;
}
