.PaymentPageMain {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
    min-height: 100vh;
}

.main {
    background-color: rgba(246, 244, 248);
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}