.container {
    height: auto;
    display: flex;
    background: #fff;
    border-radius: 4px;
}

.mainArea {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}