.confirmContainer {
    margin-top: 75px;
    display: flex;
    justify-content: flex-end;
}

.confirmButton {
    width: 320px;
    height: 60px;

    background: rgba(255, 168, 0, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;

    font-weight: 700;
    font-size: 24px;

    text-align: center;
    text-transform: uppercase;

    cursor: pointer;
}

.confirmButton:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.confirmButton:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: none;
    color: rgba(255, 168, 0, 1);
    border: 1px solid rgba(255, 168, 0, 1);
}