.wrapper {
    padding: 20px 15px;

    max-width: 260px;
display: flex;
flex-direction: column;
align-items: center;
}

.active {
    border: 1px solid #ffcc66;
/*     border-radius: 6px; */
   /*  padding: 10px; */
}

.field {
    min-width: 240px;
    height: 50px;

    /* all: unset; */
    /* убирает дефолтные стили кнопки */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #c9c9c9;
    border-radius: 6px;
    padding: 12px 16px;
    cursor: pointer;
    background: #fff;
}

.label {
    font-size: 20px;
    color: #303030;
}

.input {
    width: 40px;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    background: transparent;
}

.hint {
    margin-top: 12px;
    font-size: 16px;
    line-height: 120%;
    color: #8f8f8f;
}