.button {
    height: 60px;

    border-radius: 5px;
    border: none;

    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

/* размеры */
.buttonNormal {
    width: 222px;
}

.buttonWide {
    width: 320px;
}

/* Активная */
.active {
    background: rgba(255, 168, 0, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.active:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.active:active {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(255, 168, 0, 1);
    border: 1px solid rgba(255, 168, 0, 1);
}

/* Неактивная */
.disabled {
    background: rgba(146, 143, 148, 1);
    color: rgba(255, 255, 255, 1);
    cursor: default;
}